#container {
  position: relative;
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: #464242;
}

a-scene {
  display: block;
  position: relative;
  z-index: 0;
  height: 100%;
  width: 100%;
}

body {
  background: linear-gradient(232deg, #ffffff, #878787);
  background-size: 800% 800%;
  -webkit-animation: AnimationName 4s ease infinite;
  -moz-animation: AnimationName 4s ease infinite;
  animation: AnimationName 4s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 7%;
  }
  50% {
    background-position: 100% 94%;
  }
  100% {
    background-position: 0% 7%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 7%;
  }
  50% {
    background-position: 100% 94%;
  }
  100% {
    background-position: 0% 7%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 7%;
  }
  50% {
    background-position: 100% 94%;
  }
  100% {
    background-position: 0% 7%;
  }
}

#ui {
  position: fixed;
  z-index: 50;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

#credit {
  font-size: 13px;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

@media screen and (min-width: 500px) {
  .modal {
    visibility: hidden;
  }
}

@media screen and (max-width: 499px) {
  /*　画面サイズ 499pxまで適用　*/

  h2 {
    font-family: "Roboto", sans-serif;
    font-size: 30px;
  }

  p {
    font-size: 14px;
    margin-block-start: 0em;
    margin-block-end: 0em;
  }

  a {
    color: #464242;
  }

  .btn {
    display: inline-block;
    padding: 10px 40px;
    font-weight: bold;
    background-image: linear-gradient(45deg, #fcf7f7 0%, #f3c2c2 100%);
    border-radius: 25px;
  }

  #container #modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
  }

  .modalBg {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
  }

  .modalWrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    max-width: 500px;
    padding: 20px 37px;
    background-color: #fff;
    border-radius: 10px;
  }
}
